* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.typed-text {
    font-size: 32px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #996600;
    text-align: center;
}